{% extends extendFile %}

{% block bodyContent %}
<figure id="biofig">
	<img src="/assets/img/me.jpg" alt="Me" id="selfshot" width="188" height="250" />
</figure>
        <!--
	<p>
		Welcome to my personal website; my name is Adam. I have been programming since 6th grade where I started out building my first site on geocities, which unfortunately. 
		I moved on to building skate-world.net and switchskate.net and finished with those right before the whole web 2.0 and social web took off.
		My first experience with JQuery style web was when I developed a chat system with another student during a summer job. He did the DB design, and I did the site.
		My most recent web endeavour is this site. I decided to use it to learn python, and more about the google app engine.
	</p>
	<p>
		By high school I had gotten into PHP/MySQL and built a fairly elaborate -though with horribly designed code- content management system called VME Panel. This was where I began experimenting with 
		operating an Apache server, but unfortunately it wasn’t practical outside my LAN due to bandwidth constraints. While in high school I took multiple summer courses 
		at the University of Calgary in photoshop, C++, and games using darkBASIC. I also took multiple programming (qbasic, VB 6), electronics, and drafting classes for high school. 
		I participated in Skills Canada Saskatchewan for web design in 9th grade, and electronics ind 11th grade, then went on to compete in Skills Canada after winning in electronics.
		The other major focus I had during high school was in music where I was part of the jazz combo Chaplin Street West, the senior and junior jazz high school bands, 
		an accompanist for multiple choirs, a concert band that was showcased at the Canadian Rocky Mountain Festival, and two of the music groups at my church.
	</p>
	<p>
		I began university thinking I would become an engineer, but after 3 years of engineering physics with summer jobs in IT, I realized I enjoy software development much more, 
		so I cut my losses (still got a physics degree out of those 3 years) and went to computer science. 
		The University of Saskatchewan tends to put an emphasis on working with C and Java, so those are what I am most experienced with. 
		I was also introduced to Haskell and how to use functional programming, which I really like, but it definitely requires a different way of thinking. 
		The versioning system of choice was subversion, so I have become familiar with it, but have used GIT outside of the university. 
		Object Oriented Programming was the most prominent concept. Many courses taught principles like polymorphism, model view controller, and design patterns. 
		I particularly enjoyed the distributed computing course. 
		For my final project, I built a program in Android that could interact with the Google App Engine to do things like pull data from the remote database. 
		Teams were very important in college, both in engineering and computer science. We often did pair programming, as well as group projects where everyone works on something different. 
		Lots of weekend programming marathons. The group project I participated in during a computer security class (I can’t believe how unsecure everything is to social engineering) 
		actually spiraled off to become an idea for a company.
	</p>
	<p>
		During the summer of 2012 I was part of a group that was a finalist in Saskatoon’s Tech. Venture Challenge. We worked on developing the ground work for a security software company. 
		I was developing our first program which used MoSync for cross platform mobile development (follows C++ syntax) and now have a reasonably good prototype. 
		Unfortunately we did not place first, and all of us being new grads, did not have the funds to take on such a project without the first place prize since investors still like to see you put up some of your own capital. 
		The last project I have worked on was another Android program that I have released to the android play market to see how that process works.
	</p>
	<p>
		The first IT job I had was working for the City of Swift Current. I thoroughly enjoyed this summer job. I setup Windows Vista images for all the departments to accommodate a switch from XP, 
		and got all the new computers set up and installed. This was all done while answering problems for the different places like city hall, the fire department, the library, etc. 
		The second IT job I had was with the Saskatoon Public School Division. during that summer I built an online chat system for the Saskatoon schools to use, and also worked with another summer student to upgrade 
		the networking infrastructure for all 53 schools. I didn’t realize it was possible, but this job was even more fun than the previous one. The last IT job I had was a huge disappointment compared 
		to the previous two. I was under the impression I would be working with 3 other summer students to upgrade the companie's computers to use VMware ThinApp and Desktop Virtualization. 
		Unfortunately we were only there to test the ThinApps which really didn’t take long, or require 4 people, especially with one person making them. 
		Though I guess the 4 of us did also alternate on the help desk for the department, it was pretty dead during the summer. This last job did teach me how important asking the job interviewer the proper questions is though.
	</p>
	<p>
		Now I am spending my days learning C# and python, doing photography, and expanding my musical abilities on the drums while I try to get a full time job related to my degrees. Having some money saved up has been 
		nice since it means I don't need to rush to the first employer who will take me, instead I can just apply for the jobs that I am excited to do.
	</p>
	-->
{% endblock %}
